# Core Configuration Files
/profiles.yml           @davnnis2003
/.sqlfluff              @davnnis2003
/dbt_project.yml        @davnnis2003

# Repository Configuration & Workflows
/.github/               @davnnis2003
